#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PREFIX = /usr
pkg = flamethrower
tmp = $(CURDIR)/debian/$(pkg)

%:
	dh $@

override_dh_auto_configure:
	perl Makefile.PL PREFIX="$(PREFIX)"

override_dh_auto_clean:
	perl Makefile.PL
	$(MAKE) realclean
	dh_auto_clean

override_dh_auto_install:
	$(MAKE) install DESTDIR="$(tmp)" CONFDIR="$(tmp)"

	# Cleanup useless stuffs
	rm -rf $(tmp)/usr/lib/flamethrower/perllocal.pod
	rm -rf $(tmp)/usr/lib/flamethrower/auto

	# let debhelper install this for us
	rm -rf $(tmp)/etc/init.d
	rm -rf $(tmp)/lib/systemd
	cp etc/init.d/flamethrower-server debian/$(pkg).init
	cp etc/systemd/flamethrower.service debian/$(pkg).service
